/* ========================== */
/* -~-~-~-~-~ BASE -~-~-~-~-~ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  line-height: 1;
}

/* -~-~-~-~-~-~-~-~-~-~-~-~-~ */
/* ======== HELPER ========= */
.text--center {
  text-align: center;
}

/* ========================== */
/* -~-~-~-~ HEADING -~-~-~-~ */
.heading-container {
  margin-bottom: 12px;
}

.main-heading {
  margin-bottom: 12px;
}

/* -~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/* ========= GAME ========== */
.game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* -- */
  width: 70%;
  margin: 0 auto;
  border: 1px solid black;
}

.board {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/* ========= PLAYERS ========== */
.player {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(107, 107, 107);
}

.player--active {
  color: #000;
  transform: scale(1.05);
}

.player0 {
}

.player1 {
}

.name-input {
  border: none;
  margin: 10px 0;
  font-family: inherit;
}

.name-input::placeholder {
  color: #000;
}

/* ============================ */
/* -~-~-~-~- BOARD -~-~-~-~-~- */
.board {
  height: 500px;
  width: 100%;
  position: relative;
}

.monte {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* -~-~-~-~-~-~-~-~-~-~-~-~-~-~ */
/* ========== HANDS =========== */
.pieces {
  display: flex;
  gap: 30px;
}

.piece {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* -- */
  width: 50px;
  height: 100px;
  /* -- */
  border: 1px solid currentColor;
  cursor: pointer;
  /* -- */
  transition: all ease 0.2s;
}

.board-piece {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* -- */
  width: 100px;
  height: 50px;
  /* -- */
  border: 1px solid currentColor;
  cursor: pointer;
  /* -- */
  transition: all ease 0.2s;
}

.board-piece-side {
  display: flex;
  justify-content: center;
  align-items: center;
  /* -- */
  width: 50%;
  height: 100%;
  /* -- */
  border: 1px solid currentColor;
}

/* ONLY IF PLAYER IS ACTIVE */
.player--active .piece:hover {
  transform: translateY(-5%);
}

.piece-side {
  display: flex;
  justify-content: center;
  align-items: center;
  /* -- */
  width: 100%;
  height: 50%;
  /* -- */
  border: 1px solid currentColor;
}
